* {
    box-sizing: border-box;
    align-content: center;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: gainsboro;
}

button:hover {
    cursor: pointer;
}

.container {
    width: 100%;
    border: 1px dashed #ff0000;
    border-radius: 5%;
}

.quizForm .radioChoice:checked ~ .submit-btn {
    display: block;
    /*float: left;*/
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}