* {
    box-sizing: border-box;
    align-content: center;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: gainsboro;
}

button, input[type="text"] {
    padding: 5px;
}

button:hover {
    cursor: pointer;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    border: 1px dashed #ff0000;
    border-radius: 5%;
    border-spacing: inherit;
}

.quizForm .radioChoice:checked ~ .submit-btn {
    display: block;
    float: left;
}
